.sprite-common {
    background-image: url(../upload/sprites_common_white_1.png);
    background-repeat: no-repeat;
}

.p-a {
    position: absolute;
}

.none {
    display: none;
}

.dis-il {
    display: inline-block;
}