/* 导航 */
.navigation {
    height: 90px;
    background-color: #121724;
}

.navigation-left-logo img {
    float: left;
    margin-top: 12px;
    margin-left: 6px;
}

/* .navigation-left-inter {
    float: left;
} */

.navigation-left-inter li {
    display: inline-block;
    /* color: blue; */
    font-size: 16px;
    /* margin-left: 220px; */
    padding-top: 28px;
    text-align: center;
    width: 170px;
}

.navigation-left-inter li a {
    float: right;
    color: #ffffff;

}

.navigation-left-inter li a i:hover {
    color: #109ddf;
}

.navigation-left-inter li a span {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    color: #9d9d9d;
}

.navigation-bottom-menu {
    height: 168px;
    width: 100%;
    padding-top: 5px;
    margin-top: 23px;
    background-color: rgba(0, 0, 0, 0.6)
}

.navigation-bottom-menu ul {
    display: inline-block;
    text-align: center;
    margin-left: 97px;
}

.navigation-bottom-menu ul li {
    margin-top: 10px;
}

.navigation-bottom-menu ul li a {
    color: #ffffff;
    font-size: 12px;
}

.navigation-bottom-menu ul li a:hover {
    color: #109ddf;
}

.sift-activity {
    width: 1903px;
    height: 630px;
    color: blue;
}

.sift-activity a img {
    width: 1903px;
    height: 630px;
}

.sift-left-recharge {
    width: 810px;
    height: 130px;
    background-color: black;
    margin-left: 330px;
}

.sift-left-recharge ul li {
    margin-top: 80px;
    display: inline-block;
    margin-left: 40px;

}

.sift-left-recharge ul li i {
    font-size: 16px;
    color: #ffffff
}

.sift-left-recharge ul li span {
    font-size: 12px;
    color: #ffffff;
}

.sift-left-recharge ul li i:hover,
.sift-left-recharge ul li span:hover {
    color: #109ddf;
}

.sift-left-recharge ul li a img {
    width: 20px;
    height: 20px;
    color: black;
}

.whole-left {
    float: left;
    margin-left: 330px;
}

/* 轮播图 */
.whole-left-top-rotation span {
    width: 810px;
    height: 340px;
}

.whole-left-top-rotation ul {
    width: 810px;
    height: 35px;
    background-color: #1f2430;
    margin-top: -3px;
}

.whole-left-top-rotation ul li a {
    display: table-cell;
    width: 101.25px;
    color: #ffffff;
    text-align: center;
    padding-top: 12px;
    z-index: 3;
}

/* .whole-left-top-rotation ul :hover {
    color: #109ddf;
} */

.rotation {
    width: 810px;
    height: 340px;
    overflow: hidden;
    position: relative;
}

/* .maddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
} */

.rotation-bo {
    position: absolute;
    bottom: -31px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
}

.rotation-bo label {
    width: 99.4px;
    height: 30px;
    /* border: 1px solid #1f2430; */
    cursor: pointer;
    background-color: #1f2430;
    transition: 0.5s;
    z-index: 2;
}

.rotation-bo label:hover {
    background-color: #1387e9;
}

input[name="img"] {
    visibility: hidden;
    position: absolute;
}

.rotation-lun {
    width: 800%;
    height: 100%;
    display: flex;
}

.rotation-lun input {
    width: 20%;
    transition: 0.6s;
}

.rotation-lun img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: 12.5%;
}

#r3:checked~.s1 {
    margin-left: 25%;
}

#r4:checked~.s1 {
    margin-left: 37.5%;
}

#r5:checked~.s1 {
    margin-left: 50%;
}

#r6:checked~.s1 {
    margin-left: 62.5%;
}

#r7:checked~.s1 {
    margin-left: 75%;
}

#r8:checked~.s1 {
    margin-left: 87.5%;
}

/* 精华推荐 */

.whole-left-recommend {
    width: 810px;
    height: 290px;
}

.whole-left-recommend span {
    display: inline-flex;
    width: 810px;
    height: 40px;
}

.whole-left-recommend span h2 {
    font-size: 20px;
    float: left;
    width: 810px;
    height: 40px;
    color: #000000;
    margin-top: 30px;
}

.whole-left-recommend span a {
    width: 37px;
    height: 40px;
    float: right;
    margin-top: 35px;
    margin-right: 11px;
}

.whole-left-recommend span a i {
    font-size: 12px;
    color: #686868;
}

.whole-left-recommend a i:hover {
    color: #109ddf;
}

.whole-left-recommend-picture {
    padding-top: 5px;
}

.whole-left-recommend-picture ul li {
    display: inline
}

.whole-left-recommend-picture ul li img {
    width: 195px;
    height: 140px;
    margin-left: 4.9px;

}

.whole-left-video {
    width: 810px;
    height: 40px;
}

.whole-left-video span {
    float: left;
    font-size: 20px;
}

.whole-left-video ul {
    float: left;
    padding-top: 5px;
}

.whole-left-video span,
.whole-left-video ul li {
    display: inline;
}

.whole-left-video ul li a {
    font-size: 12px;
    margin-right: 5px;
    padding-left: 45px;
}