.body {
    background-color: #e0e0e0;
}

/* 顶部标题导航 */
.nav {
    width: 1903px;
    height: 90px;
    background-color: #000000;
    display: flex;
}

.nav img {
    padding-left: 350px;
    padding-top: 12px;
}

.nav ul {
    display: flex;
    padding-top: 30px;
}

.nav ul li a {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding-left: 115px;
    display: grid;
}

.nav ul li a i {
    color: #9d9d9d;
    font-size: 12px;
    text-align: center;
}

.nav ul li a:hover {
    color: #109ddf;
}

.nav ul li a i:hover {
    color: #9d9d9d;
}

/* 图片链接 */
.picture {
    position: relative;
}

.picture a img {
    width: 1903px;
    height: 630px;
}

.picture-img {
    width: 810px;
    height: 130px;
    position: absolute;
    bottom: 3px;
    left: 340px;
}

.picture-img img {
    width: 810px;
    height: 130px;
}

.picture-img-right {
    width: 1903px;
}

.picture-img-right img {
    height: 130px;
    width: 426px;
    position: absolute;
    bottom: 3px;
    right: 345px;
}

/* 主题页面左边 */
.motif-left {
    width: 810px;
    height: 1679px;
    margin-top: 17px;
    margin-left: 340px;
    display: inline-block;
}

/* 轮播图 */
.rot {
    width: 810px;
    height: 340px;
    overflow: hidden;
}

.rot ul li {
    display: table-cell;
}

.rot ul li a img {
    width: 810px;
    height: 340px;
}

.rot di dt {
    display: contents;
}

/* .rot di dt a {
    height: 35px;
    width: 101.25px;
    border: 1px solid black;
    position: absolute;
    line-height: 35px;
} */

/* 精华推荐 */
.recom {
    width: 810px;
    height: 190px;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* line-height: 40px; */
}

.recom-top span {
    width: 810px;
    height: 40px;
    font-size: 20px;
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.recom-top a i {
    float: right;
    font-size: 12px;
    margin-top: -25px;
}

.recom-top a i:hover {
    color: #109ddf;
}

.recom-bottom ul {
    width: 104%;
    margin-top: 5px;
}

.recom-bottom ul li {
    /* display: inline-block; */
    /* display: inline-block;  */
    float: left;
    /* padding-left: 4px; */
    margin-right: 10px;
}

.recom-bottom ul li a img {
    width: 195px;
    height: 140px;
}

/* 视频专区 */
.video-top {
    width: 810px;
    height: 40px;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    /* border: 1px solid black; */
}

.video-top span {
    float: left;
    font-size: 20px;
    line-height: 40px;
    width: 810px;
    height: 40px;
}

.video-top i {
    font-size: 12px;
    float: right;
    line-height: 40px;
    /* padding-left: 0px; */
    /* left: 6px; */
    overflow: hidden;
    position: absolute;
    right: 755px;
}

.video-top ul {
    display: flex;
    line-height: 40px;
    position: absolute;
    padding-left: 90px;
}

.video-top ul li {
    padding: 0 28px;
    /* width: 87.3px; */
    height: 40px;
    float: left;
}

.video-top ul li a {
    font-size: 14px;
}

.video-top ul li a:hover {
    color: #109ddf;
}

.video-top ul li:hover {
    border-bottom: 2px solid #135da2;
}

.video-top i a:hover {
    color: #109ddf;
}

.video-bottom ul {
    width: 810px;
    height: 410px;
    line-height: 0;
}

.video-bottom ul li {
    display: inline-block;
    width: 260px;
    height: 65px;
    padding-top: 35px;
    /* margin-top: 10px; */
    /* line-height: 410px; */
}

.video-bottom ul li a {
    height: 167px;
}

.video-bottom ul li a p {
    padding-top: 10px;
    font-size: 12px;
    /* display: inline-block; */
}

.video-bottom ul li a img {
    width: 260px;
    height: 145px;
}

/* 活动中心 */
.activity-top {
    width: 810px;
    height: 40px;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    /* border: 1px solid black; */
}

.activity-top span {
    float: left;
    font-size: 20px;
    line-height: 40px;
    width: 810px;
    height: 40px;
}

.activity-top i {
    font-size: 12px;
    float: right;
    line-height: 40px;
    /* padding-left: 0px; */
    /* left: 6px; */
    overflow: hidden;
    position: absolute;
    right: 755px;
}

.activity-top ul {
    display: flex;
    line-height: 40px;
    position: absolute;
    padding-left: 90px;
}

.activity-top ul li {
    padding: 0 28px;
    /* width: 87.3px; */
    height: 40px;
    float: left;
}

.activity-top ul li a {
    font-size: 14px;
}

.activity-top ul li a:hover {
    color: #109ddf;
}

.activity-top ul li:hover {
    border-bottom: 2px solid #135da2;
}

.activity-top i a:hover {
    color: #109ddf;
}

.activity-bottom ul {
    width: 808px;
    height: 162px;
    line-height: 41px;
    /* border: 1px solid black; */
}

.activity-bottom ul li {
    display: inline-block;
    width: 366px;
    height: 39px;
    line-height: 38px;
    /* margin-right: 34.4px; */
    padding-right: 36px;
    float: left;
    /* border: 1px solid green; */
}

.activity-bottom ul li img,
.activity-bottom ul li a p,
.activity-bottom ul li a span {
    display: inline-block;
}

.activity-bottom ul li a span {
    float: right;
    font-size: 12px;
    background-color: black;
    color: #ffffff;
    /* border: 1px solid black; */
}

.activity-bottom ul li a p {
    font-size: 12px;
    padding-left: 5px;
}

.activity-bottom ul li img {
    float: left;
    /* line-height: 40px; */
    padding-top: 12px;
}

.activity-bottom ul li a:hover {
    color: #109ddf;
}

.activity-bottom ul li a span:hover {
    color: #ffffff;
}

/* 赛事专区 */

.player {
    width: 810px;
    height: 380px;
    padding-top: 20px;
    /* border: 1px solid black; */
}

.player-top {
    width: 810px;
    height: 40px;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    /* border: 1px solid black; */
}

.player-top span {
    float: left;
    font-size: 20px;
    line-height: 40px;
    width: 810px;
    height: 40px;
}

.player-top i {
    font-size: 12px;
    float: right;
    line-height: 40px;
    /* padding-left: 0px; */
    /* left: 6px; */
    overflow: hidden;
    position: absolute;
    right: 755px;
}

.player-top ul {
    display: flex;
    line-height: 40px;
    position: absolute;
    padding-left: 90px;
}

.player-top ul li {
    padding: 0 28px;
    /* width: 87.3px; */
    height: 40px;
    float: left;
}

.player-top ul li a {
    font-size: 14px;
}

.player-top ul li a:hover {
    color: #109ddf;
}

.player-top ul li:hover {
    border-bottom: 2px solid #135da2;
}

.player-top i a:hover {
    color: #109ddf;
}

.player-bottom-left a {
    float: left;
    padding-top: 20px;
}

.player-bottom-left a img {
    width: 260px;
    height: 320px;
}

.player-bottom-right {
    float: right;
}

.player-bottom-right dl dt {
    width: 470px;
    height: 108px;
    /* float: right; */
    /* border: 1px solid green; */
    border-bottom: 1px solid #9d9d9d;
}

.player-bottom-right dl dt h3 {
    font-size: 30px;
    padding-top: 12px;
    width: 330px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-bottom-right dl dt a {
    width: 140px;
    height: 40px;
    background-color: #fd6d2e;
    float: right;
    margin-top: -25px;
}

.player-bottom-right dl dt a span {
    color: #ffffff;
    line-height: 40px;
    padding-left: 28px;
    font-size: 14px;
}

.player-bottom-right dl dd {
    /* width: 810px; */
    /* padding-top: 10px; */
    line-height: 40px;
    /* height: 38px; */
}

.player-bottom-right dl dd span {
    float: right;
    right: 0;
}

.player-bottom-right dl dd a:hover {
    color: #109ddf;
}

/* 主题页面右面部分 */
.motif-right {
    width: 410px;
    height: 1681px;
    /* border: 1px solid black; */
    float: right;
    margin-top: 17px;
    margin-right: 341px;
}

/* 综合 */
.player {
    width: 810px;
    height: 380px;
    padding-top: 20px;
    /* border: 1px solid black; */
}

.synth-top {
    width: 410px;
    height: 40px;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    /* border: 1px solid black;*/
}

.synth-top ul {
    display: flex;
    line-height: 40px;
    position: absolute;
    /* padding-left: 90px;*/
}

.synth-top ul li {
    padding: 0 20px;
    /* width: 87.3px; */
    height: 40px;
    float: left;
}

.synth-top ul li a {
    font-size: 14px;
}

.synth-top ul li a:hover {
    color: #109ddf;
}

.synth-top ul li:hover {
    border-bottom: 3px solid #135da2;
}

.synth-top i a:hover {
    color: #109ddf;
}

.synth-bottom {
    width: 410px;
    height: 295px;
    /* border: 1px solid black; */
}

.synth-bottom ul li {
    display: inline-block;
    width: 340px;
    height: 38px;
    line-height: 38px;
}

.orange {
    color: #fd6d2e;
    font-size: 14px;
    line-height: 38px;
}

.synth-bottom ul li i {
    float: right;
    right: 0;
}

.look span {
    color: #fd6d2e;
    font-size: 12px;
    padding-left: 180px;
}

.look {
    line-height: 38px;
    width: 410px;
    height: 38px;
    background-color: #d8d8d8;
    display: block;
    margin-top: 29px;
}

/* 社区热点 */
.comm {
    width: 410px;
    height: 365px;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* line-height: 40px; */
}

.comm-top span {
    width: 410px;
    height: 40px;
    font-size: 20px;
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.comm-top a i {
    float: right;
    font-size: 12px;
    margin-top: -25px;
}

.comm-top a i:hover {
    color: #109ddf;
}

.comm-bottom ul {
    margin-top: 15px;
}

.comm-bottom ul li {
    height: 34px;
}

/* 快速入口 */
.entrance {
    width: 410px;
    height: 281px;
    /* border: 1px solid black; */
    /* background-color: #d8d8d8; */
    margin-top: 20px;
    overflow: hidden;
    /* line-height: 40px; */
}

.entrance-top span {
    width: 410px;
    height: 40px;
    font-size: 20px;
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.entrance-bottom {
    width: 434.59px;
    height: 240px;
    /* display: inline-block; */
}

.entrance-bottom ul li {
    width: 98px;
    height: 70px;
    display: inline-block;
    margin-top: 10px;
    /* border: 1px solid #ffffff; */
    background-color: #ffffff;
}

.entrance-bottom ul li span {
    margin-left: 22px;
    /* line-height: 70px; */
    text-align: center;
}

/* CODOL官方APP */
.app {
    width: 410px;
    height: 281px;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* line-height: 40px; */
}

.app-top span {
    width: 410px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.app-bottom img {
    margin-top: 6px;
    width: 410px;
    height: 235px;
}

/* 品牌活动 */
.brand {
    width: 410px;
    height: 190px;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* line-height: 40px; */
}

.brand-top span {
    width: 410px;
    height: 40px;
    font-size: 20px;
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.brand-top a i {
    float: right;
    font-size: 12px;
    margin-top: -25px;
}

.brand-top a i:hover {
    color: #109ddf;
}

.brand-bottom a img {
    width: 410px;
    height: 120px;
    padding-top: 10px;
}

/* 主题页面下面部分 */
.motif-bottom {
    width: 1903px;
    height: 526px;
    border: 1px solid black;
}



.motif-bottom-top {
    width: 1240px;
    height: 306px;
    display: flex;
    margin-left: 335px;
    border: 1px solid greenyellow;
}

.motif-bottom-top-weixin {
    width: 335px;
    height: 89px;
    margin-top: 52px;
    border: 1px solid red;
}

.motif-bottom-top-weixin img {
    width: 90px;
    height: 89px;
    display: inline-block;
}

.motif-bottom-top-game {
    width: 395px;
    height: 95px;
    margin-top: 52px;
    border: 1px solid yellow;
}

.motif-bottom-top-media {
    width: 216px;
    height: 119px;
    margin-top: 52px;
    border: 1px solid blue;
}

.motif-bottom-top-friend {
    width: 260px;
    height: 124px;
    margin-top: 52px;
    border: 1px solid purple;
}

.motif-bottom-bottom {
    width: 1903px;
    height: 220px;
    background-color: #000000;
}