.top-navigation {
    height: 135px;
    background-color: #121724;
}

.top-navigation-logo-left {
    float: left;
    width: 216px;
    height: 101px;
    padding: 13px;
    margin: 19px 173px 15px 217px;
    overflow: hidden;
}

.top-navigation-left {
    float: left;
}

.top-navigation-left ul {
    color: #ffffff;
    line-height: 50px;
    margin: 0;
    display: inline-block;
}

.top-navigation-left ul li {
    display: inline-block;
}

.top-navigation-left ul li:hover {
    color: blue;
}